.actions {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 24px;
  }

  &__item {
    margin: 0;
    padding: 0;
    width: max-content;

    @media (max-width: 512px) {
      width: 100%;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    padding: 8px 32px;
    border-radius: 8px;
    font: normal 400 18px/1 "Sora", sans-serif;
    background: $color-elements-text;
    color: $color-style-white;

    &:focus,
    &:hover {
      background: $color-text-light;
      color: $color-style-white;
    }

    &--book {
      background: $color-style-purple-dark;

      &:focus,
      &:hover {
        background: $color-style-purple-hover;
      }
    }

    &--primary {
      background: $color-style-purple;

      &:focus,
      &:hover {
        background: $color-style-purple-hover;
      }
    }

    &--secondary {
      background: $color-style-green;

      &:focus,
      &:hover {
        background: $color-style-green-hover;
      }
    }
  }
}
