.section--adopters {
  background: #12161c;
}

.adopters {
  flex: 0 0 100%;

  &__list {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    &:not(.active) {
      display: none;
    }
  }

  &-entry {
    &:before {
      content: none;
    }

    &__img {
      width: 100%;
      display: block;
      border-radius: 24px;
      overflow: hidden;
      object-fit: cover;
      aspect-ratio: 1;

      &:not(:last-child) {
        margin-bottom: 24px;
      }

      &--service {
        object-fit: contain;
      }

      &--logo {
        background: #01061d;
        padding: 32px;
        display: grid;
        place-items: center;
        object-fit: contain;
      }
    }

    &__title {
      display: block;
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
    }

    &__comment {
      display: block;
      margin-top: 8px;
      color: #6b7a8a;
    }
  }
}

.variants {
  margin: 64px auto -8px;
  padding: 0 0 8px;
  max-width: 100%;
  width: max-content;
  white-space: nowrap;

  &__list {
    list-style: none;
    margin: 0 -16px;
    padding: 0 16px;
    display: flex;
    gap: 8px;
    align-items: center;
    overflow: auto;
  }

  &-entry {
    cursor: pointer;

    &:hover {
      color: #9488f0;
    }

    &__control {
      position: absolute;
      margin: -1px;
      width: 1px;
      height: 1px;
      visibility: hidden;
      opacity: 0;
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      border-radius: 8px;
      font-size: 18px;
      font-weight: 400;
      line-height: 14px;
      padding: 8px 16px;
      background: none;
      transition: 0.25s ease;
    }

    &__control:checked ~ &__button {
      background: #9488f0;
      color: #fff;
    }
  }
}
