.banner {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 112px;
  text-align: center;
  padding: 0 var(--page-side-padding, 16px);
  width: 100%;
  margin: 0 0 80px;

  &__header {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 24px;
    font-family: "Sora", sans-serif;
  }

  &__title {
  }

  &__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: $color-style-blue;
  }

  &__comment {
    color: $color-text-light;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
  }

  &__text {
    text-align: left;
    font-size: 20px;
    margin: 0 auto;
    max-width: 688px;
  }

  &__content {
    text-align: left;
    font-size: 16px;

    .text {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        gap: 40px;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

        & > li {
          padding-left: 40px;

          &::before {
            content: "";
            width: 20px;
            height: 20px;
            float: left;
            margin: 0 20px 0 -40px;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 23 17' width='23' height='17'%3E%3Cpath stroke='%2339FFC3' stroke-width='4' d='M2 6.5 9.308 14 21 2'/%3E%3C/svg%3E")
              center center no-repeat;
          }

          &::after {
            content: "";
            display: table;
            clear: both;
          }
        }
      }

      li {
        margin: 0;
        padding: 0;
      }
    }
  }

  &__body {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
  }

  &__footer {
    max-width: 572px;
    margin: 0 auto;
  }

  &-actions {
    width: 100%;

    @media (min-width: 768.1px) {
      margin-top: 16px;
    }
  }

  &__illustration {
    position: relative;
    z-index: -1;
    width: calc(100% + var(--page-side-padding, 16px) * 2);
    margin: 0px calc(0px - var(--page-side-padding, 16px));
  }

  &-guru {
    --pulse-diff: 150px;

    @media (max-width: 640px) {
      --pulse-diff: 88px;
    }

    & > svg {
      display: block;
      width: 304px;
      height: 261px;
      position: relative;
      z-index: 10;
      margin: 30px auto 0;
      padding: 30px 0 0;

      @media (max-width: 640px) {
        width: 214px;
        height: 184px;
      }
    }

    &__ripples {
      overflow: hidden;

      position: absolute;
      z-index: -1;
      left: 50%;
      top: 50%;
      width: calc(var(--pulse-diff) * 11);
      height: calc(var(--pulse-diff) * 11);
      max-width: 100%;
      transform: translate(-50%, -50%);
    }

    &__ripple {
      position: absolute;
      left: 50%;
      top: 50%;
      width: var(--pulse-size);
      height: var(--pulse-size);
      border-radius: 100%;
      transform: translate(-50%, -50%);
      color: var(--pulse-color);
      background: currentColor;
      box-shadow: none;

      @media (prefers-reduced-motion: no-preference) {
        animation: banner-pulse 3s linear infinite;
      }

      @keyframes banner-pulse {
        from {
          color: var(--pulse-color);
          box-shadow: 0 0 0 currentColor;
        }

        to {
          color: var(--pulse-color-to);
          box-shadow: 0 0 0 var(--pulse-diff) currentColor;
        }
      }

      &:nth-child(1) {
        --pulse-color: #343d48;
        --pulse-color-to: #343d48;
        --pulse-size: calc(var(--pulse-diff) * 2);
        transform: translate(-50%, -50%) scale(0.5);
        z-index: 6;
      }

      &:nth-child(2) {
        --pulse-color: #343d48;
        --pulse-color-to: #323a45;
        --pulse-size: calc(var(--pulse-diff) * 2);
        z-index: 5;
      }

      &:nth-child(3) {
        --pulse-color: #323a45;
        --pulse-color-to: #2c333d;
        --pulse-size: calc(var(--pulse-diff) * 4);
        z-index: 4;
      }

      &:nth-child(4) {
        --pulse-color: #2c333d;
        --pulse-color-to: #232931;
        --pulse-size: calc(var(--pulse-diff) * 6);
        z-index: 3;
      }

      &:nth-child(5) {
        --pulse-color: #232931;
        --pulse-color-to: #1b2027;
        --pulse-size: calc(var(--pulse-diff) * 8);
        z-index: 2;
      }

      &:nth-child(6) {
        --pulse-color: #1b2027;
        --pulse-color-to: #{$color-bg-100};
        --pulse-size: calc(var(--pulse-diff) * 10);
        z-index: 1;
      }
    }

    &__candle {
      z-index: 10;
      position: absolute;
      left: var(--candle-pos-left);
      top: var(--candle-pos-top);
      width: 20px;
      margin: 0 0 0 -10px;
      height: var(--candle-size, 16px);
      border-radius: 4px;
      background: $color-elements-text;
      animation: bannerCandleDrop 7s ease;
      animation-fill-mode: both;
      opacity: 0;
      pointer-events: none;

      @media (max-width: 640px) {
        display: none;
      }

      &:before {
        content: "";
        position: absolute;
        width: 4px;
        border-radius: 2px;
        left: 50%;
        top: 40%;
        transform: translateY(-50%);
        margin-left: -2px;
        height: 160%;
        background: inherit;
      }

      @keyframes bannerCandleDrop {
        0% {
          opacity: 0;
          transform: translateY(-20px);
        }

        15% {
          opacity: 1;
        }

        75% {
          opacity: 1;
        }

        90% {
          opacity: 0;
        }

        100% {
          transform: translateY(200%);
        }
      }

      &--negative {
        background: $color-style-red;
      }

      &--positive {
        background: $color-style-green;
      }
    }
  }

  &-explorer {
    margin-top: 80px;

    &__lines {
      overflow: hidden;

      position: absolute;
      left: 50%;
      top: 60%;
      width: 100%;
      transform: translate(-50%, 0);

      display: flex;
      flex-flow: column;
      align-items: flex-start;
      gap: 8px;

      --banner-item-size: 120px;

      @media (max-width: 768px) {
        --banner-item-size: 96px;
        top: 120%;
      }
    }

    &__line {
      display: flex;
      width: 100%;
      min-width: 1200px;
      animation: bannerExplorerLineMove 7s linear infinite;

      &:nth-child(1) {
        animation-duration: 9s;
        animation-direction: reverse;
      }

      @keyframes bannerExplorerLineMove {
        from {
          transform: translateX(0);
        }
        from {
          transform: translateX(calc(-100%));
        }
      }
    }

    &__item {
      flex: 0 0 auto;

      &:before {
        content: "";
        display: block;
        background: #29313a;
        border-radius: calc(var(--banner-item-size) / 2);
        height: var(--banner-item-size);
        margin: 0 4px;
      }

      &:nth-child(5n) {
        width: 10%;
        opacity: 0.5;
      }

      &:nth-child(5n + 1) {
        width: 25%;
        opacity: 0.9;
      }

      &:nth-child(5n + 2) {
        width: 35%;
        opacity: 0.3;
      }

      &:nth-child(5n + 3) {
        width: 10%;
        opacity: 0.7;
      }

      &:nth-child(5n + 4) {
        width: 20%;
        opacity: 0.3;
      }
    }
  }

  &-warehouse {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 400px;

    display: flex;
    align-items: center;
    gap: clamp(8px, 5%, 24px);
    align-items: end;

    &__item {
      flex: 1 0 32px;
      background: #1e242c;
      border-radius: 24px;
      animation: banner-warehouse 1s infinite alternate;

      &:nth-child(3),
      &:nth-child(6),
      &:nth-child(8) {
        background: #29313a;
      }

      &:nth-child(1) {
        --from: 43%;
        --to: 23%;
        animation-duration: 1.25s;
      }

      &:nth-child(2) {
        --from: 85%;
        --to: 63%;
        animation-duration: 1.05s;
      }

      &:nth-child(3) {
        --from: 100%;
        --to: 40%;
        animation-duration: 1.5s;
      }

      &:nth-child(4) {
        --from: 35%;
        --to: 58%;
        animation-duration: 1s;
      }

      &:nth-child(5) {
        --from: 72%;
        --to: 21%;
        animation-duration: 1.75s;
      }

      &:nth-child(6) {
        --from: 53%;
        --to: 63%;
        animation-duration: 1.25s;
      }

      &:nth-child(7) {
        --from: 35%;
        --to: 100%;
        animation-duration: 1.5s;
      }

      &:nth-child(8) {
        --from: 67%;
        --to: 20%;
        animation-duration: 1.25s;
      }

      &:nth-child(9) {
        --from: 32%;
        --to: 80%;
        animation-duration: 1.25s;
      }

      &:nth-child(10) {
        --from: 80%;
        --to: 50%;
        animation-duration: 1.25s;
      }

      @keyframes banner-warehouse {
        0% {
          height: var(--from);
        }

        100% {
          height: var(--to, var(--from));
        }
      }
    }
  }

  &-network {
    position: absolute;
    left: 0;
    top: -64px;
    right: 0;
    min-height: 100vh;
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(120px, 1fr));

    & > span {
      background: $color-bg-90;
      border-radius: 8px;
      aspect-ratio: 1;
      animation: squeeze var(--speed) alternate infinite;

      @keyframes squeeze {
        0% {
          transform: none;
        }

        75% {
          transform: scale(0.35);
        }

        100% {
          transform: none;
        }
      }
    }
  }
}
