.block-explorers {
  padding: 0 var(--page-side-padding, 16px);
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    justify-content: space-between;

    @media (max-width: 640px) {
      gap: 16px;
    }
  }

  &__item {
    margin: 0;
    padding: 0;
  }
}

.block-explorer {
  height: 100%;
  color: $color-style-white;
  padding: 32px 44px 32px 24px;
  display: flex;
  gap: 32px;
  flex-flow: column;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 44px;
    top: 0;
    bottom: 0;
    border-radius: 24px;
    background: $color-bg-90;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 0;
    border: 1px transparent solid;
    border-right: $color-bg-90;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 44px;
    top: 46px;
    bottom: 0;
    background: $color-bg-90;
    border-bottom-right-radius: 24px;
    border: 1px transparent solid;
    border-top: 0;
    border-left: 0;
  }

  &:hover {
    color: $color-style-white;

    &::before {
      background-image: linear-gradient(
          $color-style-black 0%,
          $color-style-black 100%
        ),
        linear-gradient(140deg, #9488f0 0%, #3aeab5 100%);
      background-origin: border-box;
      background-clip: padding-box, border-box;
    }

    &::after {
      background: $color-style-black;
      border-color: #3aeab5;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 24px;
    position: relative;
    margin-right: -20px;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      right: -24px;
      top: -32px;
      width: 77px;
      height: 77px;
      border-right: 1.5px transparent solid;
      background: $color-bg-90;
      border-radius: 24px;
      transform: translate(-6.15px, 6.15px) rotate(-45deg);
      visibility: visible;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: -2;
      border-radius: 4px;
      background: var(--color-chain);
      width: 40px;
      height: 40px;
      top: -8px;
      right: 0;
      transition: 0.25s ease;
      transform: none;
    }
  }

  &:hover & {
    &__header {
      &:before {
        border-color: #3aeab5;
        background: $color-style-black;
      }

      &::after {
        transform: translate(16px, -16px);
      }
    }
  }

  &__body {
    position: relative;
    z-index: 2;
    margin-right: -20px;
  }

  &__icon {
    flex: 0 0 auto;
  }

  &__img {
    display: block;
    width: 56px;
    height: 56px;
    object-fit: contain;
  }

  &__title {
    flex: 1 0 0;
    margin: 0;
    font-family: "Sora", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 3px;

    .name {
      display: inline-block;
      min-width: 5ch;
    }
  }

  &-properties {
    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-flow: row wrap;
      gap: 24px;
    }

    &__item {
      flex: 1 0 120px;
      margin: 0;
      padding: 0;
    }
  }

  &-property {
    display: flex;
    flex-flow: column;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    &__title {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;

      color: $color-text-light;
    }

    &__value {
    }

    .rate,
    .delta,
    .sign {
      color: $color-text-light;

      &:empty {
        display: none;
      }
    }

    .delta {
      &--positive {
        color: $color-style-green;
      }

      &--negative {
        color: $color-style-red;
      }

      &--zero {
        display: none;
      }
    }
  }

  &--loading & {
    &__header,
    &-property__value {
      visibility: hidden;
    }

    &__icon,
    &__title .name,
    &__title .word,
    &-property__value {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: $color-bg-50;
        border-radius: 8px;
        visibility: visible;
        opacity: 0.5;
      }
    }
  }
}
