.chains-widget {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 80px;
  max-width: 1270px;
  margin: 0 auto;

  &__header {
    display: flex;
    flex-flow: column;
    gap: 40px;
  }

  &__title {
    font-family: "Sora", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    color: $color-style-blue;
    margin: 0;

    .accent {
      background: linear-gradient(
        104.04deg,
        #8373ff 0%,
        #ff57cf 52.08%,
        #3aeab5 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;

      &::selection {
        color: $color-style-blue;
        -webkit-text-fill-color: $color-style-blue;
        text-fill-color: $color-style-blue;
      }
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: $color-text-light;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }

  &__item {
    margin: 0;
    padding: 0;
  }

  &-entry {
    background: $color-bg-90;
    border-radius: 40px;
    padding: 16px 32px 16px 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: "Sora", sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.2;

    &__icon {
      height: 56px;
      width: 56px;
      border-radius: 28px;
    }

    @media (max-width: 768px) {
      font-size: 16px;
      padding: 8px 16px 8px 8px;

      &__icon {
        height: 32px;
        width: 32px;
        border-radius: 16px;
      }
    }
  }
}
