.cta {
  background: $color-style-black;
  padding: 64px var(--page-side-padding, 16px);
  color: $color-style-white;
  font-size: 20px;
  line-height: 160%;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  gap: 40px;
  margin-top: 80px;

  &__body,
  &__footer {
    width: 100%;
    max-width: 688px;
    margin: 0 auto;
  }

  &-actions {
    @media (min-width: 768.1px) {
      margin-top: 16px;
    }
  }
}
