.features {
  display: flex;
  flex-flow: column;
  gap: 64px;
  padding: 0 var(--page-side-padding, 16px);
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  &__header {
    text-align: center;
    display: flex;
    gap: 40px;
    flex-flow: column;
  }

  &__title {
    font-family: "Sora", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    margin: 0;
    color: $color-style-purple-dark;
  }

  &__subtitle {
    max-width: 640px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
  }

  &__body {
    display: flex;
    flex-flow: column;
    gap: 64px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  }

  &__item {
    min-width: 320px;
  }

  &-entry {
    height: 100%;
    transition: 0.25s ease;
    color: $color-text-light;
    background: $color-style-black center center no-repeat;
    border-radius: 24px;
    display: flex;
    flex-flow: column;
    gap: 24px;
    padding: 24px;
    position: relative;
    overflow: hidden;

    font-weight: 400;
    font-size: 16px;
    line-height: 160%;

    &:hover {
      color: $color-text-light;
    }

    &__pretitle {
      color: $color-text-ultralight;
      display: block;
      font-weight: inherit;
    }

    &__title {
      font-family: Sora, sans-serif;
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
      color: $color-style-white;
      margin: 0;
    }

    &__illustration {
      margin: -24px -24px 0;
      padding: 0 0 65%;
      transform: none;
      transition: 0.25s ease;
      position: relative;

      &--video {
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background: #000;
          opacity: 0.6;
          z-index: 1;
        }

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          width: 64px;
          height: 64px;
          margin: -32px 0 0 -32px;
          background: center center no-repeat;
          background-color: rgba(255, 255, 255, 0.3);
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 28 28'%3E%3Cpath fill='%23fff' d='M25.038 12.272c1.323.772 1.323 2.684 0 3.456L7.008 26.246C5.674 27.023 4 26.061 4 24.517V3.482C4 1.938 5.674.977 7.008 1.755l18.03 10.517Z'/%3E%3C/svg%3E");
          background-size: 28px;
          border-radius: 50%;
          z-index: 2;
          transition: 0.25s ease;
        }
      }
    }

    &:hover &__illustration {
      &::after {
        background-color: #ff646d;
        opacity: 0.8;
        width: 72px;
        height: 72px;
        margin: -36px 0 0 -36px;
        background-size: 24px;
      }
    }

    &__image {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
      z-index: 0;
    }
  }

  &--network &-entry__illustration {
    order: 3;
    margin: auto -24px -24px;
  }
}
