.page-footer {
  max-width: 1376px;
  margin: 0 auto;

  font-size: 14px;
  line-height: 18px;

  display: flex;
  align-items: center;

  @media (max-width: 480px) {
    text-align: center;
  }

  @media (max-width: 960px) {
    flex-flow: column;
  }

  &-links {
    &__header {
      margin-bottom: 40px;
    }

    &__title {
      margin: 0;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      text-transform: uppercase;
    }

    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-flow: column;
      gap: 32px;

      &--outro {
        gap: 24px;
        flex-flow: row;
      }
    }

    &__item {
      margin: 0;
      padding: 0;
    }
  }

  &__body {
    display: grid;
    gap: 64px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }

  &__links {
    @media (min-width: 480.1px) {
      order: 1;
    }
  }

  &__copyright {
    @media (min-width: 480.1px) {
      margin-right: auto;
    }
    @media (max-width: 480px) {
      width: 100%;
    }
  }
}
