.page-header {
  max-width: 1376px;
  margin: 0 auto;
  display: flex;
  gap: 32px;
  align-items: center;

  &__logo {
    flex: 0 0 200px;
    position: relative;
    z-index: 101;
  }

  &__menu {
    @media (min-width: 960.1px) {
      flex: 5 0 auto;
    }

    @media (max-width: 960px) {
      margin-left: auto;
    }
  }

  &__aside {
    flex: 0 0 200px;

    @media (max-width: 960px) {
      display: none;
    }
  }

  &-menu {
    animation: menuInit 0.25s;

    @keyframes menuInit {
      from {
        pointer-events: none;
      }

      to {
        pointer-events: all;
      }
    }

    &__toggle {
      width: 40px;
      height: 40px;
      border: 0;
      padding: 0;
      background: none;
      cursor: pointer;
      position: relative;
      z-index: 100;

      &::before,
      &::after {
        content: "";
        border-top: 2px $color-style-white solid;
        width: 40px;
        position: absolute;
        left: 0;
        transform: none;
        transition: 0.25s ease;
      }

      &::before {
        top: 10px;
      }

      &::after {
        bottom: 10px;
      }

      .caption {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
        overflow: hidden;
      }

      @media (min-width: 960.1px) {
        display: none;
      }

      .show > & {
        &::before {
          top: 19px;
          transform: rotate(-45deg);
        }
        &::after {
          bottom: 19px;
          transform: rotate(45deg);
        }
      }
    }

    &__body {
      @media (max-width: 960px) {
        display: none;
        position: fixed;
        z-index: 99;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        background: $color-style-black;
        padding: 64px var(--page-side-padding) 0;

        .show > & {
          display: block;
        }
      }
    }

    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      gap: 32px;
      justify-content: center;
      position: relative;

      @media (max-width: 960px) {
        flex-flow: column;
        justify-content: flex-start;
        height: 100%;
        overflow: auto;
      }

      @media (max-width: 640px) {
        margin: 0 calc(0px - var(--page-side-padding));
      }
    }

    &__item {
      margin: 0;
      padding: 0;
    }

    &__link {
      margin: -16px;
      padding: 16px;
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      color: $color-style-white;
      display: flex;
      gap: 8px;
      align-items: center;

      &:hover {
        color: $color-style-purple-hover;
      }

      &--dropdown {
        @media (max-width: 960px) {
          display: none;
        }
      }

      .icon {
        transform: none;
        transition: 0.25s ease;

        svg {
          display: block;
        }

        path {
          fill: $color-text-light;
          transition: 0.25s ease;
        }
      }
    }

    &__submenu {
      @media (min-width: 960.1px) {
        display: none;
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        padding-top: 20px;
        width: max-content;
        z-index: 1;
        max-width: clamp(
          320px,
          calc(100vw - var(--page-side-padding, 16px) * 2),
          1024px
        );
      }
    }

    &__item:hover > &__submenu,
    &__link:focus ~ &__submenu {
      display: block;
      z-index: 2;

      @media (min-width: 960.1px) {
        animation: submenuDrop 0.25s ease;

        @keyframes submenuDrop {
          from {
            opacity: 0;
          }

          to {
            opacity: 1;
          }
        }
      }
    }

    &__item:hover,
    &__link:focus {
      .icon {
        transform: rotate(-180deg);

        path {
          fill: $color-style-purple;
        }
      }
    }
  }

  &-submenu {
    display: flex;
    flex-flow: row wrap;
    gap: 32px;

    @media (min-width: 960.1px) {
      padding: 40px;
      background: $color-style-black;
      border-radius: 16px;
    }
  }

  &-links {
    flex: 1 0 280px;

    &__header {
      margin-bottom: 24px;
    }

    &__title {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      display: block;

      @media (max-width: 640px) {
        margin: 0 var(--page-side-padding);
      }
    }

    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__item {
      margin: 0;
      padding: 0;
    }
  }

  &-link {
    display: flex;
    gap: 16px;
    padding: 16px;
    border-radius: 8px;
    background: none;
    transition: 0.25s ease;

    @media (max-width: 640px) {
      border-radius: 0;
    }

    &:focus,
    &:hover {
      background: $color-bg-100;
    }

    &__icon {
      width: 24px;
      height: 24px;
      flex: 0 0 auto;

      & > img,
      & > svg {
        width: 24px;
        height: 24px;
        object-fit: contain;
      }
    }

    &__content {
      display: flex;
      gap: 16px;
      flex-flow: column;
    }

    &__title {
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
    }

    &__description {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;

      color: $color-text-light;
    }
  }
}

@property --color {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.logo {
  height: 40px;
  display: flex;
  gap: 12px;
  align-items: center;
  width: max-content;

  &__img {
    background: linear-gradient(#0b0f14, #0b0f14) padding-box,
      linear-gradient(
          104deg,
          rgba(96, 70, 255, 1) 0%,
          rgba(34, 212, 159, 1) 100%
        )
        border-box;
    border: 2px transparent solid;
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    padding: 5px 9px;
    border-radius: 50%;
    animation: logo-img 1s linear infinite;

    &-logo {
      width: 18px;
      height: 18px;
      object-fit: contain;
    }

    @keyframes logo-img {
      from {
        --_angle: 0deg;
      }

      to {
        --_angle: 360deg;
      }
    }
  }

  &__title {
    flex: 0 0 auto;
    height: 26px;
  }
}
