.section--network {
  background: #232a32;
}

.network {
  margin-top: 64px;
  display: grid;
  gap: 40px 140px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

  &-entry {
    &__title {
      width: max-content;
      max-width: 100%;
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      margin: 0;
      padding: 16px 32px;
      border-radius: 32px;
      background: #181d23;
    }
  }
}
