.section {
  margin-top: 80px;
  padding: 80px 16px;
  display: flex;
  flex-flow: column;
  gap: 40px;
  grid-column: fullwidth;
  overflow: hidden;
  background: #181d23;

  & + &,
  &:first-child {
    margin-top: 0;
  }

  &--light {
    background: #232a32;

    & + & {
      padding-top: 0;
    }
  }

  &--dark {
    background: #0b0f14;

    & + & {
      padding-top: 0;
    }
  }

  &__title {
    margin: 0;

    .intro {
      display: block;
      color: #fff;
    }

    .ai {
      color: #12b886;
    }
  }

  &__pretitle {
    display: block;
    color: #12b886;
  }

  &__subtitle {
    display: block;
    max-width: 680px;
    margin: 0 auto;

    &:not(:first-child) {
      margin-top: 16px;
    }

    .ai {
      color: #6046ff;
    }

    .apps {
      color: #12b886;
    }
  }

  &__header {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
  }

  .quote {
    max-width: 520px;
    text-align: center;

    &--long {
      max-width: 680px;
    }
  }

  &__body {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    gap: 16px;

    & > * {
      max-width: 100%;
    }
  }

  &__illustration {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 320px;
  }

  &--roadmap &__illustration {
    margin-bottom: -80px;
  }

  &__img {
    display: block;
    position: relative;
    z-index: 2;
    s &:only-child {
      margin: 0 auto;
    }
  }

  &--animate &__img {
    animation: float 20s ease infinite;

    @keyframes float {
      0% {
        transform: translateY(0);
      }

      25% {
        transform: translateY(-25px);
      }

      50% {
        transform: translateY(0);
      }

      75% {
        transform: translateY(-25px);
      }

      100% {
        transform: translateY(0);
      }
    }
  }

  &__content {
    position: relative;
    z-index: 3;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    order: 1;

    &:empty {
      display: none;
    }
  }

  &__illustration,
  &__content {
    flex: 1 0 280px;
  }

  &--left &__illustration {
    order: 2;
  }

  &--right &__illustration {
    order: 1;
  }
}

.allocation {
  display: flex;
  gap: 40px 112px;
  flex-flow: row wrap;
  align-items: center;

  &__img {
    flex: 10 0 50%;
    margin: 0 auto;
  }

  &__text {
    flex: 1 1 250px;
  }
}

.distribution {
  display: block;
  margin: 72px auto 0;
}

.section {
  &-animate {
    &__ripples {
      --pulse-diff: 140px;
      position: absolute;
      left: 50%;
      top: 50%;
      width: calc(var(--pulse-diff) * 11);
      height: calc(var(--pulse-diff) * 11);
      max-width: 100%;
      transform: translate(-50%, -50%);
      margin-top: -120px;
    }

    &__ripple {
      position: absolute;
      left: 50%;
      top: 50%;
      width: var(--pulse-size);
      height: var(--pulse-size);
      border-radius: 100%;
      transform: translate(-50%, -50%);
      color: var(--pulse-color);
      background: currentColor;
      box-shadow: none;

      @media (prefers-reduced-motion: no-preference) {
        animation: banner-pulse 3s linear infinite;
      }

      @keyframes banner-pulse {
        from {
          color: var(--pulse-color);
          box-shadow: 0 0 0 currentColor;
        }

        to {
          color: var(--pulse-color-to);
          box-shadow: 0 0 0 var(--pulse-diff) currentColor;
        }
      }

      &:nth-child(1) {
        --pulse-color: #3e4854;
        --pulse-color-to: #3e4854;
        --pulse-size: calc(var(--pulse-diff) * 2);
        transform: translate(-50%, -50%) scale(0.5);
        z-index: 6;
      }

      &:nth-child(2) {
        --pulse-color: #3e4854;
        --pulse-color-to: rgb(53, 59, 69);
        --pulse-size: calc(var(--pulse-diff) * 2);
        z-index: 5;
      }

      &:nth-child(3) {
        --pulse-color: rgb(53, 59, 69);
        --pulse-color-to: rgb(49, 55, 64);
        --pulse-size: calc(var(--pulse-diff) * 4);
        z-index: 4;
      }

      &:nth-child(4) {
        --pulse-color: rgb(49, 55, 64);
        --pulse-color-to: rgb(43, 49, 57);
        --pulse-size: calc(var(--pulse-diff) * 6);
        z-index: 3;
      }

      &:nth-child(5) {
        --pulse-color: rgb(43, 49, 57);
        --pulse-color-to: rgb(38, 44, 51);
        --pulse-size: calc(var(--pulse-diff) * 8);
        z-index: 2;
      }

      &:nth-child(6) {
        --pulse-color: rgb(38, 44, 51);
        --pulse-color-to: #232a32;
        --pulse-size: calc(var(--pulse-diff) * 10);
        z-index: 1;
      }
    }
  }
}

.howworks {
  display: grid;
  gap: 40px;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

  &-entry {
    display: flex;
    gap: 32px;
    flex-flow: column;

    &__img {
      max-width: 480px;
    }

    &__title {
      width: max-content;
      max-width: 100%;
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      margin: 0;
      padding: 16px 32px;
      border-radius: 32px;
      background: #181d23;

      &--orchestrated {
        color: #12b886;
      }

      &--embeddable {
        color: #9488f0;
      }
    }
  }
}
