.socials {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, 64px);
    gap: 28px;

    @media (max-width: 960px) {
      justify-content: center;
    }
  }

  &__item {
    margin: 0;
    padding: 0;
  }

  &-entry {
    display: block;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      width: 64px;
      height: 64px;
      background-size: 32px;
      margin: 0;
      transition: 0.25s ease;
    }

    &:focus,
    &:hover {
      &:before {
        background-color: $color-style-blue-hover;
        border-color: $color-style-blue-hover;
      }
    }

    &__icon {
      width: 32px;
      height: 32px;
      fill: $color-style-white;
    }
  }
}
