.section--tokenomics {
  background: #12161c;
}

.tokenomics {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: center;
  gap: 16px 0;

  &__switch {
    position: absolute;
    margin: -1;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
  }

  &__body {
    margin-top: -16px;
    width: 100%;
    flex: 0 0 100%;
    background: #0b0f14;
    border-radius: 32px;
    padding: 0 44px 44px;
    aspect-ratio: 1130 / 400;
    display: grid;
    grid-template-columns: auto [image-start] minmax(280px, 1144px) [image-end] auto;

    @media (max-width: 960px) {
      padding: 0 16px 16px;
      border-radius: 16px;
    }
  }

  &__image {
    grid-column: image;
  }

  &__label {
    width: max(25%, 320px);
    color: #55606f;
    height: 60px;
    padding: 8px 16px 0;
    position: relative;
    display: flex;
    gap: 16px;
    flex-flow: column;
    align-items: center;
    transition: 0.25s ease;

    &::after {
      opacity: 0;
      content: "";
      width: 80px;
      border-top: 4px currentColor solid;
      border-radius: 4px 4px 0 0;
      transition: 0.25s ease;
    }
  }

  &__switch#utility:checked + &__label {
    &::after {
      color: #6046ff;
      opacity: 1;
    }
  }

  &__switch#flow:checked + &__label {
    &::after {
      color: #12b886;
      opacity: 1;
    }
  }

  &__switch:checked + &__label {
    color: #fff;
  }

  @media (min-width: 768.1px) {
    &__switch:not(:checked) + &__label + &__body {
      display: none;
    }

    &__body {
      order: 100;
    }
  }
}
