h1 {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  text-align: center;
  color: $color-style-white;
  max-width: 860px;
  margin: 0 auto;

  @media (max-width: 768px) {
    font-size: 40px;
    line-height: 120%;
  }
}

h2 {
  margin: 0;
  font-family: Sora;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  text-align: center;
  color: #9488f0;
  margin: 0 0 40px;

  &:not(:first-child) {
    margin-top: 80px;
  }
}

.text {
  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  ul {
    line-height: 1.4;
    margin: 0;
    padding: 0 0 0 32px;
    list-style: none;
  }

  li {
    margin: 1.5em 0;
    padding: 0 0 0 22px;

    &::before {
      content: "";
      float: left;
      width: 6px;
      height: 6px;
      background: #9488f0;
      border-radius: 3px;
      margin: 0.55em 16px 0 -22px;
    }
  }
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

p {
  & > img {
    max-width: 100%;

    &:only-child {
      display: block;
      margin: 0 auto;
    }
  }
}
