$color-style-blue: #46a6ff;
$color-style-blue-hover: #74bcff;
$color-style-purple-dark: #6046ff;
$color-style-purple: #9488f0;
$color-style-purple-hover: #afa5fb;
$color-style-green: #12b886;
$color-style-green-hover: #3aeab5;
$color-style-red: #ff646d;
$color-style-white: #fff;
$color-style-black: #0b0f14;
$color-text-light: #6b7a8a;
$color-text-ultralight: #8d9eb0;

$color-bg-120: #0b0f14;
$color-bg-100: #181d23;
$color-bg-90: #1e242c;
$color-bg-60: #2d3642;
$color-bg-50: #343d48;

$color-text: $color-style-white;

$color-elements-text: #545c66;
