---
image: 'docker-registry.dexguru.biz/dex.guru/chainflow-deployment/chainflow-deployment/landing'
imageTag: ''
registrySecretName: registry-harbor

chainflow-landing:
  replicas:
    default: 1
  port: 80
  limitsCpu: 1
  limitsMemory: 1G
  requestsCpu: 0.1
  requestsMemory: 125Mi
  strategyType: 'RollingUpdate'
#  readnessProbe:
#    path: '/health_check'
#    port: '8000'
#  livenessProbe:
#    path: '/health_check'
#    port: '8000'
  env:
    ENVIRONMENT: "stage"
  ingressHost1: "dexguru.net"
  letsencrypt:
    issuer: "letsencrypt-prod"
