<!DOCTYPE html>
<html>
<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>

<body class="black_them">
    <div class="FlexContainer full_screen">
        <div class="card FlexContainer">
            <div>
                <h1 class="info_margin">{{ Name }}</h1>
                <p class="info_margin">Status {{ Status }} </p>
                <p class="info_margin">Version {{ Version }} </p>
            </div>
        </div>
    </div>
</body>
</html>