.container {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column;
  gap: 8px;
}

.header {
  flex: 0 0 auto;
  display: flex;
  gap: 32px;
  align-items: center;
}

.title {
  margin: 0 auto 0 0;
}

.body {
  flex: 1 0 auto;
  display: flex;
  gap: 16px;
}

.aside {
  display: flex;
  gap: 20px;
  flex-flow: column;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.props {
  flex: 0 0 320px;

  &Table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    font-size: 12px;
    line-height: 16px;
  }

  &TBody {
    display: flex;
    flex-flow: column;
    gap: 8px;
  }

  &TR {
    display: flex;
    flex-flow: column;
    gap: 2px;
  }

  &TH {
    display: block;
    text-align: left;
  }

  &TD {
    display: block;
  }
}

.content {
  flex: 1 0 0;
  display: flex;
  flex-flow: column;
  gap: 16px;
}

.viewer {
  flex: 1 0 0;
  border-radius: 8px;
  background: #fff;
}

.variables {
  flex: 0 0 auto;
}
