.container {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column;
  gap: 8px;
}

.header {
  flex: 0 0 auto;
  display: flex;
  gap: 32px;
  align-items: center;
}

.title {
  margin: 0 auto 0 0;
}

.body {
  flex: 1 0 auto;
  display: flex;
  gap: 16px;
}

.aside {
  display: flex;
  gap: 20px;
  flex-flow: column;
}

.content {
  flex: 1 0 0;
  display: flex;
  flex-flow: column;
  gap: 16px;
}

.props {
  &Table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
  }

  &TBody {
    display: flex;
    flex-flow: column;
    gap: 8px;
  }

  &TR {
    display: flex;
    flex-flow: column;
    gap: 2px;
  }

  &TH {
    display: block;
    text-align: left;
  }

  &TD {
    display: block;
  }
}

.form {
  display: flex;
  flex-flow: column;
  gap: 16px;

  &Field {
    display: flex;
    gap: 8px;
    flex-flow: column;

    &Input {
      border: 1px #eceff1 solid;
      border-radius: 4px;
      height: 32px;
      padding: 4px 12px;
    }
  }
}

.connect {
  background: #1e242c !important;
  border-radius: 4px;
}
