<section class="section section--achievements" id="achievements">
  <div class="section__header">
    <h2 class="section__title">
      <span class="intro">GPT Revolution Happened. Now What?</span>
      GURU is building the <span class="ai">AI orchestration network</span>
    </h2>
    <span class="section__subtitle"
      >Ecosystem incentives and coordinates different parties to run autonomous
      agents and compute nodes independently and creates markets for them.
    </span>
  </div>

  <blockquote class="quote">
    L3 which allows apps to natively embed orchestrated AI Agents and earn
    Network participant rewards.
  </blockquote>

  <div class="section__body">
    <div class="achievements">
      <ul class="achievements__list">
        <li class="achievements__item">
          <div class="achievements-entry">
            <strong class="achievements-entry__title"
              >GURU agents have made</strong
            >

            <span class="achievements-entry__value"
              >560&nbsp;456
              <span class="achievements-entry__unit"> transactions</span>
            </span>
          </div>
        </li>

        <li class="achievements__item">
          <div class="achievements-entry">
            <strong class="achievements-entry__title"
              >Operators have deployed</strong
            >

            <span class="achievements-entry__value"
              >394
              <span class="achievements-entry__unit"> agents</span>
            </span>
          </div>
        </li>

        <li class="achievements__item">
          <div class="achievements-entry">
            <strong class="achievements-entry__title"
              >Olas is deployed across</strong
            >

            <span class="achievements-entry__value"
              >16
              <span class="achievements-entry__unit"> blockchains</span>
            </span>
          </div>
        </li>

        <li class="achievements__item">
          <div class="achievements-entry">
            <strong class="achievements-entry__title"
              >Devs have registered</strong
            >

            <span class="achievements-entry__value"
              >274
              <span class="achievements-entry__unit"> types of agents</span>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
