<section class="section section--achievements" id="achievements">
  <div class="section__header">
    <h2 class="section__title">
      <span class="intro">GPT Revolution Happened. Now What?</span>
      We are building the <br><span class="ai">Multi Chain AI orchestration network</span>
    </h2>
    <span class="section__subtitle"
      >Ecosystem incentives and coordinates different parties to run autonomous
      agents and compute nodes independently and creates markets for them.
    </span>
  </div>

  <blockquote class="quote">
    Flow Orchestrator serves as a IAAS(infrastructure-as-a-service) where Gurus meet ecosystem projects and retail needs in the form of published AI Models, Processors, Context-aware RAG Applications.
  </blockquote>

  <div class="section__body">
    <div class="achievements">
      <ul class="achievements__list">
        <li class="achievements__item">
          <div class="achievements-entry">
            <strong class="achievements-entry__title"
              >GURU agents have made</strong
            >

            <span class="achievements-entry__value"
              >15&nbsp;456
              <span class="achievements-entry__unit"> transactions</span>
            </span>
          </div>
        </li>

        <li class="achievements__item">
          <div class="achievements-entry">
            <strong class="achievements-entry__title"
              >Operators have deployed</strong
            >

            <span class="achievements-entry__value"
              >26
              <span class="achievements-entry__unit"> agents</span>
            </span>
          </div>
        </li>

        <li class="achievements__item">
          <div class="achievements-entry">
            <strong class="achievements-entry__title"
              >Flow Orchestrator deployed onto</strong
            >

            <span class="achievements-entry__value"
              >3
              <span class="achievements-entry__unit"> blockchains</span>
            </span>
          </div>
        </li>

        <li class="achievements__item">
          <div class="achievements-entry">
            <strong class="achievements-entry__title"
              >Gurus have registered</strong
            >

            <span class="achievements-entry__value"
              >21
              <span class="achievements-entry__unit"> BBPMN orchestration snippets</span>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
