<section class="section section--adopters" id="ecosystem">
  <div class="section__header">
    <h2 class="section__title">Ecosystem</h2>
    <div class="variants">
      <ul class="variants__list">
        <li class="variants__item">
          <label class="variants-entry"
            ><input
              type="radio"
              class="variants-entry__control"
              name="type"
              value=""
              checked
            />
            <span class="variants-entry__button"> All projects </span>
          </label>
        </li>
        <li class="variants__item">
          <label class="variants-entry"
            ><input
              type="radio"
              class="variants-entry__control"
              name="type"
              value="trading"
            />
            <span class="variants-entry__button"> Trading </span>
          </label>
        </li>
        <li class="variants__item">
          <label class="variants-entry"
            ><input
              type="radio"
              class="variants-entry__control"
              name="type"
              value="analytics"
            />
            <span class="variants-entry__button"> Analytics </span>
          </label>
        </li>
        <li class="variants__item">
          <label class="variants-entry"
            ><input
              type="radio"
              class="variants-entry__control"
              name="type"
              value="data"
            />
            <span class="variants-entry__button"> Data </span>
          </label>
        </li>
        <li class="variants__item">
          <label class="variants-entry"
            ><input
              type="radio"
              class="variants-entry__control"
              name="type"
              value="parameters"
            />
            <span class="variants-entry__button"> Parameters </span>
          </label>
        </li>
      </ul>
    </div>
    <span class="section__subtitle"
      >Early adopters projects who opted in to use of Dex Guru Warehouse and
      later GURU FlowOrchestrator as a Framework for their services launch.
    </span>
  </div>
  <div class="section__body">
    <div class="adopters">
      <ul class="adopters__list">
        <li class="adopters__item active" data-tags="parameters">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://t.me/artfusion_bot"
            class="adopters-entry"
          >
            <img
              class="adopters-entry__img"
              src="/assets/img/adopters/artfusiontees.webp"
              alt="Art Fusion Tees"
            />

            <strong class="adopters-entry__title">Art Fusion Tees</strong>

            <span class="adopters-entry__comment">@artfusion_bot</span>
          </a>
        </li>

        <li class="adopters__item active" data-tags="data,parameters">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://pixelpact.ai"
            class="adopters-entry"
          >
            <img
              class="adopters-entry__img adopters-entry__img--logo"
              src="/assets/img/adopters/pixelpact.svg"
              alt="Pixelpact.ai"
            />

            <strong class="adopters-entry__title">Pixelpact.ai</strong>
            <span class="adopters-entry__comment"
              >Launch Platform Our solution goes beyond the basics by
              offering</span
            >
          </a>
        </li>

        <li class="adopters__item active" data-tags="trading,data,parameters">
          <div class="adopters-entry">
            <img
              class="adopters-entry__img"
              src="/assets/img/adopters/niftnet.webp"
              alt="NiftNet MemeCoin"
            />

            <strong class="adopters-entry__title">NiftNet MemeCoin</strong>
            <span class="adopters-entry__comment">
              Launch Platform Our solution goes beyond the basics by offering a
              SQL interface that empowers you to design</span
            >
          </div>
        </li>

        <li class="adopters__item active" data-tags="trading,data">
          <div class="adopters-entry">
            <img
              class="adopters-entry__img"
              src="/assets/img/adopters/realitycraft.webp"
              alt="RealityCraft"
            />

            <strong class="adopters-entry__title">RealityCraft</strong>
            <span class="adopters-entry__comment">
              Launch Platform Our solution goes beyond the basics by offering a
              SQL interface that empowers you to design</span
            >
          </div>
        </li>

        <li
          class="adopters__item active"
          data-tags="trading,data,analytics,parameters"
        >
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://dex.guru"
            class="adopters-entry"
          >
            <img
              class="adopters-entry__img adopters-entry__img--service"
              src="/assets/img/adopters/dexguru.webp"
              alt="DexGuru terminal"
            />

            <strong class="adopters-entry__title">Trading Terminal</strong>

            <span class="adopters-entry__comment"
              >Launch Platform Our solution goes beyond the basics by
              offering</span
            >
          </a>
        </li>

        <li class="adopters__item active" data-tags="data,analytics,parameters">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://b2b.dex.guru/explorer"
            class="adopters-entry"
          >
            <img
              class="adopters-entry__img adopters-entry__img--service"
              src="/assets/img/adopters/blockexplorer.webp"
              alt="Block Explorer"
            />

            <strong class="adopters-entry__title"
              >Block Explorer as a Service</strong
            >

            <span class="adopters-entry__comment"
              >Launch Platform Our solution goes beyond the basics by
              offering</span
            >
          </a>
        </li>

        <li class="adopters__item active" data-tags="data,analytics,parameters">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="hhttps://b2b.dex.guru/data-warehouse"
            class="adopters-entry"
          >
            <img
              class="adopters-entry__img adopters-entry__img--service"
              src="/assets/img/adopters/datawarehouse.webp"
              alt="Data Warehouse"
            />

            <strong class="adopters-entry__title">Data Warehouse</strong>

            <span class="adopters-entry__comment"
              >Launch Platform Our solution goes beyond the basics by offering a
              SQL interface that empowers you to design</span
            >
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<script>
  (() => {
    const adoptersList = document.querySelector(
      ".section--adopters .adopters__list"
    );

    if (!adoptersList) {
      return;
    }

    window.addEventListener("click", (e) => {
      const el = e.target
        .closest(".section--adopters .variants-entry")
        ?.querySelector(".variants-entry__control");

      if (!el) {
        return;
      }

      const value = el.value;

      const adoptersItems = adoptersList.querySelectorAll(".adopters__item");
      adoptersItems.forEach((item) => {
        if (
          !value ||
          item.getAttribute("data-tags")?.split(",").includes(value)
        ) {
          item.classList.add("active");
        } else {
          item.classList.remove("active");
        }
      });
    });
  })();
</script>
