<section class="section section--adopters">
  <div class="section__header">
    <h2 class="section__title">Early Adopters</h2>
    <span class="section__subtitle"
      >Early adopters projects who opted in to use of Dex Guru Warehouse and
      later GURU FlowOrchestrator as a Framework for their services launch.
    </span>
  </div>
  <div class="section__body">
    <div class="adopters">
      <ul class="adopters__list">
        <li class="adopters__item">
          <div class="adopters-entry">
            <img
              class="adopters-entry__img"
              src="/assets/img/adopters/artfusiontees.webp"
              alt="Art Fusion Tees"
            />

            <strong class="adopters-entry__title">Art Fusion Tees</strong>

            <span class="adopters-entry__comment"
              ><a href="https://t.me/artfusion_bot">@artfusion_bot</a></span
            >
          </div>
        </li>

        <li class="adopters__item">
          <div class="adopters-entry">
            <img
              class="adopters-entry__img adopters-entry__img--logo"
              src="/assets/img/adopters/pixelpact.svg"
              alt="Pixelpact.ai"
            />

            <strong class="adopters-entry__title">Pixelpact.ai</strong>
          </div>
        </li>

        <li class="adopters__item">
          <div class="adopters-entry">
            <img
              class="adopters-entry__img"
              src="/assets/img/adopters/niftnet.webp"
              alt="NiftNet MemeCoin"
            />

            <strong class="adopters-entry__title">NiftNet MemeCoin</strong>
            <span class="adopters-entry__comment"> Launch Platform</span>
          </div>
        </li>

        <li class="adopters__item">
          <div class="adopters-entry">
            <img
              class="adopters-entry__img"
              src="/assets/img/adopters/realitycraft.webp"
              alt="RealityCraft"
            />

            <strong class="adopters-entry__title">RealityCraft</strong>
            <span class="adopters-entry__comment"> Launch Platform</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
