<section class="section section--adopters" id="ecosystem">
  <div class="section__header">
    <h2 class="section__title">Ecosystem</h2>
    <span class="section__subtitle"
      >Early adopters projects who opted in to use of Dex Guru Warehouse and
      later GURU FlowOrchestrator as a Framework for their services launch.
    </span>
  </div>
  <div class="section__body">
    <div class="adopters">
      <ul class="adopters__list">
        <li class="adopters__item">
          <div class="adopters-entry">
            <img
              class="adopters-entry__img"
              src="/assets/img/adopters/artfusiontees.webp"
              alt="Art Fusion Tees"
            />

            <strong class="adopters-entry__title">Art Fusion Tees</strong>

            <span class="adopters-entry__comment"
              ><a
                target="_blank"
                rel="noopener noreferrer"
                href="https://t.me/artfusion_bot"
                >@artfusion_bot</a
              ></span
            >
          </div>
        </li>

        <li class="adopters__item">
          <div class="adopters-entry">
            <img
              class="adopters-entry__img adopters-entry__img--logo"
              src="/assets/img/adopters/pixelpact.svg"
              alt="Pixelpact.ai"
            />

            <strong class="adopters-entry__title">Pixelpact.ai</strong>
          </div>
        </li>

        <li class="adopters__item">
          <div class="adopters-entry">
            <img
              class="adopters-entry__img"
              src="/assets/img/adopters/niftnet.webp"
              alt="NiftNet MemeCoin"
            />

            <strong class="adopters-entry__title">NiftNet MemeCoin</strong>
            <span class="adopters-entry__comment"> Launch Platform</span>
          </div>
        </li>

        <li class="adopters__item">
          <div class="adopters-entry">
            <img
              class="adopters-entry__img"
              src="/assets/img/adopters/realitycraft.webp"
              alt="RealityCraft"
            />

            <strong class="adopters-entry__title">RealityCraft</strong>
            <span class="adopters-entry__comment"> Launch Platform</span>
          </div>
        </li>

        <li class="adopters__item">
          <div class="adopters-entry">
            <img
              class="adopters-entry__img adopters-entry__img--service"
              src="/assets/img/instruments/crosschain.svg"
              alt="DexGuru terminal"
            />

            <strong class="adopters-entry__title">Trading Terminal</strong>

            <span class="adopters-entry__comment"
              ><a
                target="_blank"
                rel="noopener noreferrer"
                href="https://dex.guru"
                >dex.guru</a
              ></span
            >
          </div>
        </li>

        <li class="adopters__item">
          <div class="adopters-entry">
            <img
              class="adopters-entry__img adopters-entry__img--service"
              src="/assets/img/instruments/blockexplorer.svg"
              alt="Block Explorer"
            />

            <strong class="adopters-entry__title"
              >Block Explorer as a Service</strong
            >

            <span class="adopters-entry__comment"
              ><a
                target="_blank"
                rel="noopener noreferrer"
                href="https://b2b.dex.guru/explorer"
                >https://b2b.dex.guru/explorer</a
              ></span
            >
          </div>
        </li>

        <li class="adopters__item">
          <div class="adopters-entry">
            <img
              class="adopters-entry__img adopters-entry__img--service"
              src="/assets/img/instruments/datawarehouse.svg"
              alt="Data Warehouse"
            />

            <strong class="adopters-entry__title">Data Warehouse</strong>

            <span class="adopters-entry__comment"
              ><a
                target="_blank"
                rel="noopener noreferrer"
                href="hhttps://b2b.dex.guru/data-warehouse"
                >https://b2b.dex.guru/data-warehouse</a
              ></span
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
