{% assign banner = page.banner %}

<div class="banner banner--{{ banner.type }}">
  {%- if banner.type -%}
  <div class="banner__illustration">
    {%- include banner/{{ banner.type }}.html -%}
  </div>
  {%- endif -%}
  <div class="banner__header">
    <h1 class="banner__title">{{ banner.title }}</h1>
    <strong class="banner__subtitle">{{ banner.subtitle }}</strong>

    {%- if banner.actions -%}
    <nav class="banner-actions">
      <div class="actions">
        <ul class="actions__list">
          {%- for action in banner.actions -%}
          <li class="actions__item">
            <a
              href="{{ action.url }}"
              class="actions__link actions__link--{{ action.type }}"
              ><span class="caption"> {{ action.title }} </span></a
            >
          </li>
          {%- endfor -%}
        </ul>
      </div>
    </nav>
    {%- endif -%}
  </div>

  {%- if banner.content or banner.text -%}
  <div class="banner__body">
    {%- if banner.content -%}
    <div class="banner__content">
      <div class="text">{{ banner.content | markdownify}}</div>
    </div>
    {%- endif -%} {%- if banner.text -%}
    <div class="banner__body">
      <div class="banner__text">
        <div class="text">{{ banner.text | markdownify}}</div>
      </div>
    </div>
    {%- endif -%}
  </div>
  {%- endif -%} {%- if banner.comment -%}
  <div class="banner__footer">
    <div class="banner__comment">{{ banner.comment }}</div>
  </div>
  {%- endif -%}
</div>
