{%- if page.chains -%}
<div class="block-explorers">
  <ul class="block-explorers__list">
    {%- for chain in page.chains -%}
    <li class="block-explorers__item">
        <a href="{{ chain.url }}"
            class="block-explorer block-explorer--loading"
            data-chain-id="{{ chain.chainId }}"
        >
            <div class="block-explorer__header">
            <div class="block-explorer__icon">
                <img src="" alt="" class="block-explorer__img" />
            </div>
            <h3 class="block-explorer__title"><span class="name">&nbsp;</span> <span class="word">Explorer</span></h3>
            </div>
            <div class="block-explorer__body">
                <div class="block-explorer-properties">
                    <ul class="block-explorer-properties__list">
                        <li class="block-explorer-properties__item block-explorer-properties__item--last">
                            <div class="block-explorer-property">

                                <strong class="block-explorer-property__title">Last Block Number</strong> <span class="block-explorer-property__value"><span class="value">–</span></strong>
                            </div>
                        </li>
                        <li class="block-explorer-properties__item block-explorer-properties__item--txs">
                            <div class="block-explorer-property">
                                <strong class="block-explorer-property__title">Transactions</strong> <span class="block-explorer-property__value"><span class="value">–</span> <span class="rate">–</span></strong>
                            </div>
                        </li>
                        <li class="block-explorer-properties__item block-explorer-properties__item--addresses">
                            <div class="block-explorer-property">
                                <strong class="block-explorer-property__title">Active Addresses Count</strong> <span class="block-explorer-property__value"><span class="value">–</span></strong>
                            </div>
                        </li>
                        <li class="block-explorer-properties__item block-explorer-properties__item--contracts">
                            <div class="block-explorer-property">
                                <strong class="block-explorer-property__title">Smart Contracts Count</strong> <span class="block-explorer-property__value"><span class="value">–</span></strong>
                            </div>
                        </li>
                        <li class="block-explorer-properties__item block-explorer-properties__item--price">
                            <div class="block-explorer-property">
                                <strong class="block-explorer-property__title">Token Price</strong> <span class="block-explorer-property__value"><span class="sign">$</span><span class="value">–</span> <span class="delta">–</span></strong>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </a>
    </li>
    {%- endfor -%}
  </ul>
</div>

{%- endif -%}
