{% assign cta = page.cta %}

<div class="cta">
  <div class="cta__body">{{ cta.text }}</div>
  {%- if cta.actions -%}
  <div class="cta__footer">
    <nav class="cta-actions">
      <div class="actions">
        <ul class="actions__list">
          {%- for action in cta.actions -%}
          <li class="actions__item">
            <a
              href="{{ action.url }}"
              class="actions__link actions__link--{{ action.type }}"
              ><span class="caption"> {{ action.title }} </span></a
            >
          </li>
          {%- endfor -%}
        </ul>
      </div>
    </nav>
  </div>
  {%- endif -%}
</div>
