<section class="section section--distribution">
  <div class="section__header">
    <h2 class="section__title">Allocation and Distribution</h2>
  </div>
  <div class="section__content">
    <figure class="allocation">
      <img
        src="/assets/img/content/allocation.svg"
        class="allocation__img"
        alt="Allocation"
      />
      <div class="allocation__text text">
        <ul>
          <li>1B Total Supply, $50M FDV.</li>
          <li>About ~20%-30% Initial circulating supply.</li>
          <li>Vesting terms: 6 months cliff, 24 month total duration.</li>
        </ul>
      </div>
    </figure>
    <img
      src="/assets/img/content/distribution.svg"
      class="distribution"
      alt="Distribution"
    />
  </div>
</section>
