{% assign features = page.features %}

<div class="features features--{{ features.class }}">
  <div class="features__header">
    <h2 class="features__title">{{ features.title }}</h2>
    {% if features.pretitle %}
    <strong class="features__subtitle">{{ features.subtitle }}</strong>
    {%- endif -%}
  </div>
  <div class="features__body">
    <ul class="features__list">
      {%- for item in features.items -%}
      <li class="features__item">
        {% if item.video %}
        <a
          href="{{ item.video }}"
          target="_blank"
          rel="noreferrer noopener"
          class="features-entry"
        >
          <div
            class="features-entry__illustration features-entry__illustration--video"
          >
            {% if item.img %}
            <img src="{{ item.img }}" alt="" class="features-entry__image" />
            {%- endif -%}
          </div>
          <div class="features-entry__header">
            <h3 class="features-entry__title">
              {% if item.pretitle %}
              <strong class="features-entry__pretitle"
                >{{ item.pretitle }}</strong
              >
              {%- endif -%} {{ item.title }}
            </h3>
          </div>
          <div class="features-entry__body">{{ item.text }}</div>
        </a>
        {% else %}
        <div class="features-entry">
          <div class="features-entry__illustration">
            {% if item.img %}
            <img src="{{ item.img }}" alt="" class="features-entry__image" />
            {%- endif -%}
          </div>
          <div class="features-entry__header">
            <h3 class="features-entry__title">
              {% if item.pretitle %}
              <strong class="features-entry__pretitle"
                >{{ item.pretitle }}</strong
              >
              {%- endif -%} {{ item.title }}
            </h3>
          </div>
          <div class="features-entry__body">{{ item.text }}</div>
        </div>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  </div>
</div>
