<div class="page__footer">
  <footer class="page-footer">
    <div class="page-footer__links">
      <nav class="page-footer-links">
        <ul class="page-footer-links__list page-footer-links__list--outro">
          <li class="page-footer-links__item">
            <a
              href="https://docs.dex.guru/resources/terms-of-service"
              class="page-footer-links__link"
              >Term of Use</a
            >
          </li>
          <li class="page-footer-links__item">
            <a
              href="https://docs.dex.guru/resources/privacy-policy"
              class="page-footer-links__link"
              >Privacy Policy</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <div class="page-footer__copyright">
      © {{ "now" | date: "%Y" }} GURU Network
    </div>
  </footer>
</div>
