<footer class="page-footer">
  {%- if site.social_links -%}
  <div class="page-footer__socials socials">
    <ul class="socials__list">
      {%- for entry in site.social_links -%}
      <li class="socials__item">
        {%- include social-item.html item = entry -%}
      </li>
      {%- endfor -%}
    </ul>
  </div>
  {%- endif -%}
  <!--  <div class="page-footer__body">
    <div class="page-footer-links">
      <div class="page-footer-links__header">
        <strong class="page-footer-links__title">Use Cases</strong>
      </div>
      <nav class="page-footer-links__body">
        <ul class="page-footer-links__list">
          <li class="page-footer-links__item">
            <a href="#" class="page-footer-links__link">Search Market</a>
          </li>
          <li class="page-footer-links__item">
            <a href="#" class="page-footer-links__link"
              >Alerts & Notifications</a
            >
          </li>
          <li class="page-footer-links__item">
            <a href="#" class="page-footer-links__link"
              >Top Cryptos by Market Cap</a
            >
          </li>
          <li class="page-footer-links__item">
            <a href="#" class="page-footer-links__link">Tokens Explorer</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="page-footer-links">
      <div class="page-footer-links__header">
        <strong class="page-footer-links__title">Use Cases</strong>
      </div>
      <nav class="page-footer-links__body">
        <ul class="page-footer-links__list">
          <li class="page-footer-links__item">
            <a href="#" class="page-footer-links__link">Search Market</a>
          </li>
          <li class="page-footer-links__item">
            <a href="#" class="page-footer-links__link"
              >Alerts & Notifications</a
            >
          </li>
          <li class="page-footer-links__item">
            <a href="#" class="page-footer-links__link"
              >Top Cryptos by Market Cap</a
            >
          </li>
          <li class="page-footer-links__item">
            <a href="#" class="page-footer-links__link">Tokens Explorer</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="page-footer-links">
      <div class="page-footer-links__header">
        <strong class="page-footer-links__title">Use Cases</strong>
      </div>
      <nav class="page-footer-links__body">
        <ul class="page-footer-links__list">
          <li class="page-footer-links__item">
            <a href="#" class="page-footer-links__link">Search Market</a>
          </li>
          <li class="page-footer-links__item">
            <a href="#" class="page-footer-links__link"
              >Alerts & Notifications</a
            >
          </li>
          <li class="page-footer-links__item">
            <a href="#" class="page-footer-links__link"
              >Top Cryptos by Market Cap</a
            >
          </li>
          <li class="page-footer-links__item">
            <a href="#" class="page-footer-links__link">Tokens Explorer</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="page-footer-links">
      <div class="page-footer-links__header">
        <strong class="page-footer-links__title">Use Cases</strong>
      </div>
      <nav class="page-footer-links__body">
        <ul class="page-footer-links__list">
          <li class="page-footer-links__item">
            <a href="#" class="page-footer-links__link">Search Market</a>
          </li>
          <li class="page-footer-links__item">
            <a href="#" class="page-footer-links__link"
              >Alerts & Notifications</a
            >
          </li>
          <li class="page-footer-links__item">
            <a href="#" class="page-footer-links__link"
              >Top Cryptos by Market Cap</a
            >
          </li>
          <li class="page-footer-links__item">
            <a href="#" class="page-footer-links__link">Tokens Explorer</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="page-footer-links">
      <div class="page-footer-links__header">
        <strong class="page-footer-links__title">Use Cases</strong>
      </div>
      <nav class="page-footer-links__body">
        <ul class="page-footer-links__list">
          <li class="page-footer-links__item">
            <a href="#" class="page-footer-links__link">Search Market</a>
          </li>
          <li class="page-footer-links__item">
            <a href="#" class="page-footer-links__link"
              >Alerts & Notifications</a
            >
          </li>
          <li class="page-footer-links__item">
            <a href="#" class="page-footer-links__link"
              >Top Cryptos by Market Cap</a
            >
          </li>
          <li class="page-footer-links__item">
            <a href="#" class="page-footer-links__link">Tokens Explorer</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  -->
  <div class="page-footer__footer">
    <div class="page-footer__links">
      <nav class="page-footer-links">
        <ul class="page-footer-links__list page-footer-links__list--outro">
          <li class="page-footer-links__item">
            <a
              href="https://docs.dex.guru/resources/terms-of-service"
              class="page-footer-links__link"
              >Term of Use</a
            >
          </li>
          <li class="page-footer-links__item">
            <a
              href="https://docs.dex.guru/resources/privacy-policy"
              class="page-footer-links__link"
              >Privacy Policy</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <div class="page-footer__copyright">
      © {{ "now" | date: "%Y" }} guru_appchain
    </div>
  </div>
</footer>
