<section class="section section--howworks section--light">
  <div class="section__header">
    <h2 class="section__title">How GURU Platform Works?</h2>
  </div>
  <div class="section__body">
    <div class="howworks">
      <div class="howworks-entry">
        <img
          class="howworks-entry__img"
          src="/assets/img/instruments/anytokenanychain.svg"
          alt=""
        />

        <h3 class="howworks-entry__title howworks-entry__title--orchestrated">
          Orchestrated Execution
        </h3>

        <div class="howworks-entry__text text">
          <p>
            On-chain/Off-chain/User/AI Business Process Automation (BPA) through
            FlowOrchestrator.
          </p>
          <p>
            Automation instructions are designed as BPMN(Business Process Model
            and Notation). Deployed as on-chain smart contract and off-chain
            orchestration node.
          </p>
        </div>
      </div>

      <div class="howworks-entry">
        <img
          class="howworks-entry__img"
          src="/assets/img/instruments/marketstate.svg"
          alt=""
        />

        <h3 class="howworks-entry__title howworks-entry__title--embeddable">
          Embeddable insights
        </h3>

        <div class="howworks-entry__text text">
          <p>
            Platform also serves as CMS for DexGuru and Ecosystem products where
            insights are embedded in different forms. They already working for
            us, and can work for you. Allowing for fast features testing and
            roll outs.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
