<section class="section section--dark">
  <div class="section__header">
    <h2 class="section__title">What are the innovations?</h2>
    <span class="section__subtitle">
      We simplify <span class="ai">AI Focused</span>
      <span class="apps">Applications</span> Development and Deployment</span
    >
  </div>
  <div class="section__body">
    <div class="innovations">
      <ul class="innovations__list">
        <li class="innovations__item">
          <div class="innovations-entry">
            <img
              class="innovations-entry__illustration"
              src="/assets/img/content/innovation-network.svg"
              alt=""
            />
            <div class="innovations-entry__header">
              <h3 class="innovations-entry__title">
                Guru Enlightenment Network(GEN)
              </h3>
              <span class="innovations-entry__subtitle"
                >Guru Layer 3 addresses the interoperability gap by focusing on
                AI-driven and user flows orchestration across both on-chain and
                off-chain sides.</span
              >
            </div>
            <div class="innovations-entry__body">
              <div class="text">
                <ul>
                  <li>
                    Provides a robust framework for real-world user actions and
                    blockchain business process automation(BBPA)
                  </li>
                  <li>
                    Stands at the intersection of AI and blockchain
                    technologies, providing a transformative platform for
                    builders, startup innovators, and Gurus (Guru Network
                    Contributors)
                  </li>
                  <li>
                    In the Guru Network, each transaction is not merely a
                    transfer of value but a critical component of orchestrated
                    business processes. As decentralized process definitions are
                    deployed and executed within the network, each step of the
                    orchestration may trigger a transaction that requires
                    decentralized consensus.
                  </li>
                </ul>
              </div>
            </div>

            <div class="innovations-entry__footer">
              <a href="/network.html" class="innovations-entry__link"
                >Learn more</a
              >
            </div>
          </div>
        </li>
        <li class="innovations__item">
          <div class="innovations-entry">
            <img
              class="innovations-entry__illustration"
              src="/assets/img/content/innovation-orchestrator.svg"
              alt=""
            />
            <div class="innovations-entry__header">
              <h3 class="innovations-entry__title">Guru Flow Orchestrator</h3>
              <span class="innovations-entry__subtitle"
                >Provides low-code development environment(IDE) which powers up
                BBPMN Definitions Marketplace, Composers, Deployers, and
                Gurus.</span
              >
            </div>
            <div class="innovations-entry__body">
              <div class="text">
                <ul>
                  <li>
                    Provides a user-friendly interface that simplifies the
                    creation and management of projects, enabling users to
                    customize and automate their workflows effectively.
                  </li>
                  <li>
                    The Flow Orchestrator acts as the BBPA Engines Clusters
                    Control Panel, where users can initiate projects and begin
                    integrating various components such as Snippets and
                    Individual Agents.
                  </li>
                  <li>
                    Flow orchestrator also provides state monitoring and
                    visibility interface for BBPMN instances.
                  </li>
                </ul>
              </div>
            </div>

            <div class="innovations-entry__footer">
              <a href="/orchestrator.html" class="innovations-entry__link"
                >Learn more</a
              >
            </div>
          </div>
        </li>
        <li class="innovations__item">
          <div class="innovations-entry">
            <img
              class="innovations-entry__illustration"
              src="/assets/img/content/innovation-framework.svg"
              alt=""
            />
            <div class="innovations-entry__header">
              <h3 class="innovations-entry__title">Guru Framework</h3>
              <span class="innovations-entry__subtitle"
                >Offers a comprehensive suite of functionalities for building
                and deploying dApps and AI-driven processes</span
              >
            </div>
            <div class="innovations-entry__body">
              <div class="text">
                <ul>
                  <li>
                    Individual Agent Builder allows for the customization and
                    deployment of agents tailored to specific tasks within the
                    ecosystem and drive lasting value with process
                    orchestration.
                  </li>
                  <li>
                    New concept of dApps driven by Composed Blockchain Business
                    Process Management and Notation (BBPMN) definitions provides
                    the way to easily integrate with most common technical
                    architectures and frameworks using BBPMN snippets catalog in
                    FlowOrchestrator.
                  </li>
                </ul>
              </div>
            </div>

            <div class="innovations-entry__footer">
              <a href="/framework.html" class="innovations-entry__link"
                >Learn more</a
              >
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
