<section class="section section--dark">
  <div class="section__header">
    <h2 class="section__title">What is the innovations?</h2>
    <span class="section__subtitle">
      We simplify <span class="ai">AI Focused</span>
      <span class="apps">Applications</span> Development</span
    >
  </div>
  <div class="section__body">
    <div class="innovations">
      <ul class="innovations__list">
        <li class="innovations__item">
          <div class="innovations-entry">
            <img
              class="innovations-entry__illustration"
              src="/assets/img/instruments/anytokenanychain.svg"
              alt=""
            />
            <div class="innovations-entry__header">
              <h3 class="innovations-entry__title">GURU Framework</h3>
              <span class="innovations-entry__subtitle"
                >GURU agents have made</span
              >
            </div>
            <div class="innovations-entry__body">
              <div class="text">
                <ul>
                  <li>
                    Easy to use and embed BPA (Blockchain Process Automation)
                    AI, Transactions and User Flow orchestration snippets and
                    data views.
                  </li>
                  <li>
                    Easy to use and embed BPA (Blockchain Process Automation)
                    AI, Transactions and User Flow orchestration snippets and
                    data views.
                  </li>
                  <li>
                    Easy to use and embed BPA (Blockchain Process Automation)
                    AI, Transactions and User Flow orchestration snippets and
                    data views.
                  </li>
                </ul>
              </div>
            </div>

            <div class="innovations-entry__footer">
              <a href="#" class="innovations-entry__link">Learn more</a>
            </div>
          </div>
        </li>
        <li class="innovations__item">
          <div class="innovations-entry">
            <img
              class="innovations-entry__illustration"
              src="/assets/img/instruments/anytokenanychain.svg"
              alt=""
            />
            <div class="innovations-entry__header">
              <h3 class="innovations-entry__title">GURU Network</h3>
              <span class="innovations-entry__subtitle"
                >GURU agents have made</span
              >
            </div>
            <div class="innovations-entry__body">
              <div class="text">
                <ul>
                  <li>
                    Easy to use and embed BPA (Blockchain Process Automation)
                    AI, Transactions and User Flow orchestration snippets and
                    data views.
                  </li>
                  <li>
                    Easy to use and embed BPA (Blockchain Process Automation)
                    AI, Transactions .
                  </li>
                  <li>
                    Easy to use and embed BPA (Blockchain Process Automation)
                    AI, Transactions and User Flow orchestration snippets and
                    data views.
                  </li>
                </ul>
              </div>
            </div>

            <div class="innovations-entry__footer">
              <a href="#" class="innovations-entry__link">Learn more</a>
            </div>
          </div>
        </li>
        <li class="innovations__item">
          <div class="innovations-entry">
            <img
              class="innovations-entry__illustration"
              src="/assets/img/instruments/anytokenanychain.svg"
              alt=""
            />
            <div class="innovations-entry__header">
              <h3 class="innovations-entry__title">GURU Framework</h3>
              <span class="innovations-entry__subtitle"
                >GURU agents have made</span
              >
            </div>
            <div class="innovations-entry__body">
              <div class="text">
                <ul>
                  <li>
                    Easy to use and embed BPA (Blockchain Process Automation)
                    AI, Transactions and User Flow orchestration snippets and
                    data views.
                  </li>
                  <li>
                    Easy to use and embed BPA (Blockchain Process Automation)
                    AI, Transactions and User Flow orchestration snippets and
                    data views.
                  </li>
                  <li>
                    Easy to use and embed BPA (Blockchain Process Automation)
                    AI, Transactions and User Flow orchestration snippets and
                    data views.
                  </li>
                </ul>
              </div>
            </div>

            <div class="innovations-entry__footer">
              <a href="#" class="innovations-entry__link">Learn more</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
