{% assign instruments = page.instruments %}

<div class="instruments">
  <div class="instruments__header">
    <h2 class="instruments__title">{{ instruments.title }}</h2>
    <strong class="instruments__subtitle">{{ instruments.subtitle }}</strong>
  </div>
  <div class="instruments__body">
    <div class="instruments-filter">
      <div class="instruments-filter__filters">
        <button class="instruments-filter__filter active">
          All instruments
        </button>
      </div>
    </div>
    <ul class="instruments__list">
      {%- for item in instruments.items -%}
      <li class="instruments__item" data-tag="{{ item.tag }}">
        <div class="instruments-entry">
          <div class="instruments-entry__illustration">
            <img
              src="{%- if item.img -%}{{ item.img }}{% else %}{{ site.baseurl }}/assets/img/instrument.svg{%- endif -%}"
              alt=""
              class="instruments-entry__image"
            />
          </div>
          <div class="instruments-entry__header">
            {%- if item.tag -%}
            <span class="instruments-entry__tag">{{ item.tag }}</span>
            {%- endif -%}
            <h3 class="instruments-entry__title">{{ item.title }}</h3>
          </div>
          <div class="instruments-entry__body">{{ item.description }}</div>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  </div>
</div>
