{% assign menu = include.menu %}
<div class="page-header-menu">
  <button class="page-header-menu__toggle">
    <span class="caption">Menu</span>
  </button>

  <div class="page-header-menu__body">
    <ul class="page-header-menu__list">
      {% for item in menu %}
      <li
        class="page-header-menu__item {% if item.dropdown %}page-header-menu__item--dropdown{% endif %}"
      >
        {% if item.url %}
        <a
          href="{{ item.url | relative_url}}"
          class="page-header-menu__link {% if item.dropdown %}page-header-menu__link--dropdown{% endif %}"
          ><span class="caption">{{ item.title }}</span> {% if item.dropdown
          %}<span class="icon">{%- include icon-submenu.svg -%}</span>
          {% endif %}
        </a>
        {% else %}
        <span
          class="page-header-menu__link {% if item.dropdown %}page-header-menu__link--dropdown{% endif %}"
          ><span class="caption">{{ item.title }}</span> {% if item.dropdown
          %}<span class="icon">{%- include icon-submenu.svg -%}</span>
          {% endif %}
        </span>
        {% endif %} {% if item.dropdown %} {%- include submenu.html
        dropdown=item.dropdown -%} {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
