<section class="section section--network">
  <div class="section__header">
    <h2 class="section__title">
      <span class="section__pretitle">GURU Network</span>
      AI Processor as a Service
    </h2>
  </div>
  <div class="section__body">
    <div class="section__content">
      <div class="section__illustration">
        <img class="section__img" src="/assets/img/content/aipaas.png" />
      </div>

      <div class="network">
        <div class="network-entry">
          <h3 class="network-entry__title">Available Today</h3>
          <div class="network-entry__content text">
            <ul>
              <li>
                Data Driven GPT as a Service based of particular chain or
                protocol data presented on Data Warehouse dashboards. Currently
                embedded in Block Explorer and Data Warehouse as research
                assistant which is aware of data dashboards context.
              </li>
              <li>
                AI Assistant with context of dAPP data and protocol insides
                working off the dashboards and queries created in Guru Warehouse
                and embedded in dAPPS. Deployed by GURU Team as part of Data
                Warehouse as GPT SQL Helper when composing the queries.
              </li>
            </ul>
          </div>
        </div>
        <div class="network-entry">
          <h3 class="network-entry__title">In Development</h3>
          <div class="network-entry__content text">
            <ul>
              <li>
                Blockchain data Science Research assistant productized and
                available for Ecosystem to consume as a service.
              </li>
              <li>
                AI-powered time-series forecasting & anomaly detection (Inflow,
                Outflows, smart contract risks).
              </li>
              <li>Behavioral analytics and P&L analysis.</li>
              <li>ERC-20/NFT Sniping Bot AI</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
