{%- if page.partners.items -%} {% assign partners = page.partners.items %} {%-
else -%} {% assign partners = site.partners %} {%- endif -%}
<div class="partners">
  <div class="partners__header">
    <h2 class="partners__title">
      We have the support and backing of prominent
      <span class="accent">industry leaders.</span>
    </h2>
    {%- if page.partners.subtitle -%}
    <strong class="partners__subtitle">{{ page.partners.subtitle }}</strong>
    {%- endif -%}
  </div>
  <div class="partners__body">
    <ul class="partners__list">
      {%- for partner in partners -%}
      <li class="partners__item">
        <a href="{{ partner.url }}" class="partners__link"
          >{%- include partners/{{ partner.key }}.svg -%}</a
        >
      </li>
      {%- endfor -%}
    </ul>
  </div>
</div>
