<section
  class="section {% if include.align %}section--{{ include.align }}{% endif %} {% if include.bg %}section--{{ include.bg }}{% endif %} {% if include.animate %}section--animate{% endif %}"
>
  <div class="section__header">
    {% if include.title or include.pretitle %}
    <h2 class="section__title">
      {% if include.pretitle %}
      <span class="section__pretitle">{{ include.pretitle }}</span>
      {% endif %}{{ include.title }}
    </h2>
    {% endif %}
  </div>
  <div class="section__body">
    {% if include.img %}
    <div class="section__illustration">
      {% if include.animate %}
      <div class="section-animate">
        <div class="section-animate__ripples">
          <span class="section-animate__ripple"></span
          ><span class="section-animate__ripple"></span
          ><span class="section-animate__ripple"></span
          ><span class="section-animate__ripple"></span
          ><span class="section-animate__ripple"></span
          ><span class="section-animate__ripple"></span>
        </div>
      </div>

      {% endif %}
      <img class="section__img" src="{{ include.img }}" />
    </div>
    {% endif %} {% if include.text or include.include %}
    <div class="section__content">
      {% if include.text %}{{ include.text | markdownify }}{% endif%} {% if
      include.include %}{% include content/{{include.include}} %}{% endif %}
    </div>
    {% endif %}
  </div>
</section>
