{% assign dropdown = include.dropdown %}
<div class="page-header-menu__submenu">
  <div class="page-header-submenu">
    {%- for item in dropdown -%}
    <div class="page-header-links">
      {%- if item.title -%}
      <div class="page-header-links__header">
        <strong class="page-header-links__title">{{ item.title }}</strong>
      </div>
      {%- endif -%}
      <nav class="page-header-links__body">
        <ul class="page-header-links__list">
          {%- for link in item.items -%}
          <li class="page-header-links__item">
            <a
              href="{{ link.url | relative_url}}"
              class="page-header-links__link page-header-link"
            >
              {%- if link.icon -%}
              <span class="page-header-link__icon">
                <img
                  src="{{ site.baseurl }}/assets/img/{{ link.icon }}.svg"
                  alt="icon"
                />
              </span>
              {%- endif -%}
              <span class="page-header-link__content">
                <strong class="page-header-link__title">
                  {{ link.title }}
                </strong>
                {%- if link.description -%}
                <div class="page-header-link__description">
                  {{ link.description }}
                </div>
                {%- endif -%}
              </span>
            </a>
          </li>
          {%- endfor -%}
        </ul>
      </nav>
    </div>
    {%- endfor -%}
  </div>
</div>
