<section class="section section--tokenomics">
  <div class="section__header">
    <h2 class="section__title">GURU Network: Tokenomics</h2>
  </div>
  <div class="section__body">
    <div class="tokenomics">
      <input
        id="utility"
        class="tokenomics__switch"
        type="radio"
        name="tokenomics"
        checked
      />
      <label for="utility" class="tokenomics__label">$GURU Token Utility</label>

      <div class="tokenomics__body">
        <img
          src="/assets/img/content/tokenomics-1.svg"
          alt=""
          class="tokenomics__image"
        />
      </div>

      <input
        id="flow"
        class="tokenomics__switch"
        type="radio"
        name="tokenomics"
      />
      <label for="flow" class="tokenomics__label"
        >Service Economy Financial Flow</label
      >
      <div class="tokenomics__body">
        <img
          src="/assets/img/content/tokenomics-2.svg"
          alt=""
          class="tokenomics__image"
        />
      </div>
    </div>
  </div>
</section>
