<section class="section section--vision">
  <div class="section__header">
    <h2 class="section__title">Our Vision</h2>
  </div>
  <div class="section__body">
    <div class="vision">
      <div class="vision__title">
        We simplify <span class="ai">AI Focused</span>
        <span class="apps">Applications</span> Development
      </div>

      <ul class="vision__list">
        <li class="vision__item">
          Easy to use and embed BPA (Blockchain Process Automation) AI,
          Transactions and User Flow orchestration snippets and data views.
        </li>
        <li class="vision__item">
          Orchestration layer for on-chain/off-chain/user and AI interactions.
          Why it’s crucial dApps Developers and RAG Developers and AI Models
          providers?
        </li>
        <li class="vision__item">
          We’ve built Dex Guru Platform with idea of boosting up development
          process while keeping maintenance loses in control.
        </li>
        <li class="vision__item">
          We run half a dozen complex projects deployed over 18 chains with lean
          team, GPT Integrations and OnChain/OffChain actions orchestrated and
          that’s why we think everyone can do it with our tooling.
        </li>
      </ul>
    </div>
  </div>
</section>
