<div class="banner-explorer">
  <div class="banner-explorer__lines">
    <div class="banner-explorer__line">
      <div class="banner-explorer__item"></div>
      <div class="banner-explorer__item"></div>
      <div class="banner-explorer__item"></div>
      <div class="banner-explorer__item"></div>
      <div class="banner-explorer__item"></div>
      <div class="banner-explorer__item"></div>
      <div class="banner-explorer__item"></div>
      <div class="banner-explorer__item"></div>
      <div class="banner-explorer__item"></div>
      <div class="banner-explorer__item"></div>
    </div>
    <div class="banner-explorer__line">
      <div class="banner-explorer__item"></div>
      <div class="banner-explorer__item"></div>
      <div class="banner-explorer__item"></div>
      <div class="banner-explorer__item"></div>
      <div class="banner-explorer__item"></div>
      <div class="banner-explorer__item"></div>
      <div class="banner-explorer__item"></div>
      <div class="banner-explorer__item"></div>
      <div class="banner-explorer__item"></div>
      <div class="banner-explorer__item"></div>
    </div>
  </div>
</div>
