<div class="banner-network">
  <div class="banner-network__ripples">
    <span class="banner-network__ripple"></span
    ><span class="banner-network__ripple"></span
    ><span class="banner-network__ripple"></span
    ><span class="banner-network__ripple"></span
    ><span class="banner-network__ripple"></span
    ><span class="banner-network__ripple"></span>
  </div>
  <div class="banner-network__particles"></div>
  {%- include banner/network.svg -%}
</div>

<script>
  (() => {
    const colors = [
      "#22D49F",
      "#FF646D",
      "#FFBC52",
      "#008B73",
      "#0052FF",
      "#9488F0",
    ];
    const bannerInit = (count = 10) => {
      const parent = document.querySelector(".banner-network__particles");

      if (count < 1 || !parent) {
        return;
      }

      const drawParticle = () => {
        const candles = parent.querySelectorAll(".banner-network__particle");

        if (candles.length >= count) {
          return;
        }

        const candle = document.createElement("div");
        candle.className = `banner-network__particle`;
        candle.style.cssText = `--_left: ${Math.random() * 100}%; --_top: ${
          Math.random() * 50 + 25
        }%; --_size: ${Math.random() * 32 + 8}px; --_color: ${
          colors[Math.floor(Math.random() * colors.length) + 1]
        }`;

        parent.appendChild(candle);
      };

      window.addEventListener("animationend", (e) => {
        if (e.target.closest(".banner-network__particle")) {
          e.target.remove();
        }
      });

      setInterval(drawParticle, 500);
    };

    bannerInit(10);
  })();
</script>
