<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Support Request</title>
</head>
<style>
    table {
        border-collapse: collapse;
        border-radius: 1em;
        overflow: hidden;
    }
    hr {
        padding: 0 1.5rem;
        color: red;
    }

    /*product: str*/
    /*full_name: str*/
    /*user_email: EmailStr*/
    /*subject: str | None = None*/
    /*message: str*/
</style>
<body>
<table align="center" cellpadding="0" cellspacing="0" width="550" style="border-radius: 1rem;">
    <tr  style="background:rgba(46,79,217,1)">
        <th style="text-align: center; height: 4rem; font-size: 1.5rem; color: aliceblue;">
            {{ product }}
        </th>
    </tr>
    <tr>
        <td style="padding-top:  2.5rem;">
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tbody>
                    <tr>
                        <td width="40%">
                            <p style="padding: 0 1.5rem; color: #666; font-size: 12px; text-transform: uppercase;">USER NAME</p>
                            <p style="padding: 0 1.5rem; font-size: 1.4rem;">{{ full_name }}</p>
                        </td>
                        <td width="60%">
                            <p style="padding: 0 1.5rem; color: #666; font-size: 12px; text-transform: uppercase;">user email</p>
                            <p style="padding: 0 1.5rem; font-size: 1.4rem;">
                                <a style="color: black" href="mailto:{{user_email}}">{{ user_email }}</a>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr />
        </td>

    </tr>
    {% if subject != None %}
       <tr>
           <td style="padding:  0.5rem  0;">
               <p style="padding: 0 1.5rem; color: #666; font-size: 12px; text-transform: uppercase;">Subject</p>
               <p style="padding: 0 1.5rem; font-size: 1.4rem;">{{ subject }}</p>
               <hr />
           </td>
       </tr>
    {% endif %}


    <tr>
        <td style="padding:  0.5rem  0;">
            <p style="padding: 0 1.5rem; color: #666; font-size: 12px; text-transform: uppercase;">Message</p>
            <p style="padding: 0 1.5rem; font-size: 1.4rem;">{{ message }}</p>
            <hr />
       </td>
    </tr>
</table>


</body>
</html>