.container {
  flex: 0 0 100%;
  display: flex;
  gap: 16px;
}

.canvas {
  flex: 1 0 0;
  background: #fff;
  border-radius: 8px;
}

.properties {
  flex: 0 0 auto;
  background: #fff;
  border-radius: 8px;
}
