.container {
  padding: 8px;
  width: 180px;
  transition: 0.1s ease;
  background: #1e242c;
  color: #8d9eb0;
  height: 100%;
  overflow: hidden;
  box-shadow: none;
  display: flex;
  flex-flow: column;
  gap: 16px;
}

.logo {
  flex: 0 0 auto;

  &Icon {
    font-size: 32px;
  }
}

.list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
}

.item {
  margin: 0 auto
}

.icon {
  font-size: 24px;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  color: #8d9eb0;
  transition: 0.25s ease;
}

.caption {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}

.link {
  border: 0;
  display: flex;
  flex-flow: column;
  gap: 4px;
  align-items: center;
  text-decoration: none;
  background: none;
  padding: 6px;
  transition: 0.25s ease;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #8d9eb0;
  border: 2px transparent solid;

  &:hover {
    color: #fff;

    .icon {
      color: #22d49f;
    }
  }
}

.sections {
  flex: 1 0 0;
}

.personal {
  flex: 0 0 auto;
  margin-top: auto;
}