{%- assign build_version = site.time | date: '%Y%m%d%H%M%S' -%}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {%- include head.html -%}

  <body>
    <div class="page" aria-label="Content">
      <div class="page__header">{%- include header.html -%}</div>
      <div class="page__body">
        {%- if page.banner -%} {% include banner.html %} {%- endif -%}
        {%- if page.features -%} {% include features.html %} {%- endif -%}
        {%- if page.chains -%} {% include chains.html %} {%- endif -%}
        {%- if page.instruments -%} {% include instruments.html %} {%- endif -%}
        <div class="page__content">{{ content | strip }}</div>
        {%- if page.cta -%} {% include cta.html %} {%- endif -%}
        {%- if page.chainsWidget -%} {% include chainsWidget.html %} {%- endif -%}
        {%- if page.partners -%} {% include partners.html %} {%- endif -%}
    </div>
      <div class="page__footer">{%- include footer.html -%}</div>
    </div>

    <script src="{{ "/assets/js/main.js" | relative_url }}?v={{ build_version }}"></script>
  </body>
</html>
