{%- assign build_version = site.time | date: '%Y%m%d%H%M%S' -%}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {%- include head.html -%}

  <body>
    <div class="page" aria-label="Content">
      <div class="page__header">{%- include header.html -%}</div>
      <div class="page__body">
        {%- if page.banner -%} {% include banner.html %} {%- endif -%}
        {%- if page.features -%} {% include features.html %} {%- endif -%}
        {%- if page.chains -%} {% include chains.html %} {%- endif -%}
        {%- if page.instruments -%} {% include instruments.html %} {%- endif -%}
        <div class="page__content">{{ content | strip }}</div>
        {%- if page.cta -%} {% include cta.html %} {%- endif -%}
        {%- if page.chainsWidget -%} {% include chainsWidget.html %} {%- endif -%}
        {%- if page.partners -%} {% include partners.html %} {%- endif -%}

        {%- if site.social_links -%}
          <div class="section section--light section--community">
            <div class="section__header">
              <h2 class="section__title">Join Community</h2>
              <span class="section__subtitle"
                > Become a part of the Guru Network community! Connect with developers, innovators, and enthusiasts who are shaping the future of AI and blockchain integration. Join us to share ideas, collaborate on projects, and stay updated with the latest advancements.
              </span>
            </div>
            <div class="section__body">
              <div class="socials">
                <ul class="socials__list">
                  {%- for entry in site.social_links -%}
                  <li class="socials__item">
                    {%- include social-item.html item = entry -%}
                  </li>
                  {%- endfor -%}
                </ul>
              </div>
            </div>
          </div>
        {%- endif -%}
    </div>

      {%- include footer.html -%}
    </div>

    <script src="{{ "/assets/js/main.js" | relative_url }}?v={{ build_version }}"></script>
  </body>
</html>
