.container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.title {
  flex: 1 0 0;
}

.body {
}

.footer {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.viewer {
  aspect-ratio: 1.5;
  pointer-events: none;
}
