.container {
  padding-left: 180px;
}

.panel {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 180px;
  z-index: 1000;
}

.content {
  padding: 20px 16px;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}