.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 2px transparent solid;
  line-height: 1;
  text-decoration: none;
  padding: 0 8px;
  background: #6046ff;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  border-radius: 8px;
  transition: 0.25s ease;
  cursor: pointer;

  &:disabled {
    background: #f8f9fb;
    border: 1px #eceff1 solid;
    color: #8d9eb0;
    pointer-events: none;

    .icon {
      opacity: 0.75;
    }
  }

  &:focus,
  &:hover {
    background: #7583ff;
  }
}

.icon {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  margin-left: -2px;
  transition: all 0.25s ease;

  &:only-child {
    margin-right: -2px;
  }
}

.counter {
  height: 24px;
  min-width: 24px;
  padding: 0 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  background: var(--color-dark);
  border-radius: 12px;
  margin: -20px 0 0 -8px;
}

.disabled {
  background: #f8f9fb;
  border: 1px #eceff1 solid;
  color: #8d9eb0;
  pointer-events: none;

  .icon {
    opacity: 0.75;
  }
}

.xs {
  height: 24px;
  min-width: 24px;
}

.md {
  height: 32px;
  min-width: 32px;
}
