

.black_them{
    background-color: #0f233b;
    color: #c2c2c2;
}
.test_color{
    color: red;
}

.full_screen{
    width: 98vw;
    height: 98vh;
}

.FlexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;

    overflow: auto;
    flex-direction: row;
}

.card{
    width: 20rem;
    height: 20rem;
    margin: 5px;
    /*box-shadow: 12px 14px 47px 25px rgba(247,232,232,0.02);*/
    text-align: center;
    /*background-color: lightblue;*/
}

.info_margin{
    margin-bottom: 0.75rem;
}