.container {
  display: flex;
  gap: 16px;
}

.processes {
  flex: 0 0 240px;
  border-right: 1px #ddd solid;

  &List {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: 16px;
  }

  &Entry {
    display: block;
    cursor: pointer;
  }
}

.instances {
  &List {
    margin: 0;
    padding: 0 0 0 1.25em;
  }

  &Item {
    cursor: pointer;
  }
}

.tasks {
  flex: 1 1 0;
  display: flex;
  gap: 16px;
  flex-flow: column;

  &List {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: 8px;
  }

  &Item {
    cursor: pointer;
  }
}

.props {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column;
  gap: 8px;

  &Title {
    margin: 0;
  }

  &Table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    font-size: 12px;
    line-height: 16px;
  }

  &TBody {
    display: flex;
    flex-flow: column;
    gap: 8px;
  }

  &TR {
    display: flex;
    flex-flow: column;
    gap: 2px;
  }

  &TH {
    display: block;
    text-align: left;
  }

  &TD {
    display: block;
  }
}
