.container {
  composes: link from "../Navigation/Navigation.module.scss";
  cursor: pointer;
}

.icon {
  composes: icon from "../Navigation/Navigation.module.scss";
}

.caption {
  composes: caption from "../Navigation/Navigation.module.scss";
}

.wrong,
.wrong .icon {
  color: #ff646d;
}
